@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--hueshift: 45;

		--background: calc(212.7 + var(--hueshift)), 26.8%, 83.9%;
		--foreground: calc(222.2 + var(--hueshift)) 84% 4.9%;

		--level-one: calc(210 + var(--hueshift)), 40%, 96.1%;
		--level-two: calc(214.3 + var(--hueshift)), 31.8%, 91.4%;

		--muted: calc(210 + var(--hueshift)) 40% 96.1%;
		--muted-foreground: calc(215.4 + var(--hueshift)) 16.3% 46.9%;

		--popover: calc(0 + var(--hueshift)) 0% 100%;
		--popover-foreground: calc(222.2 + var(--hueshift)) 84% 4.9%;

		--card: calc(0 + var(--hueshift)) 0% 100%;
		--card-foreground: calc(222.2 + var(--hueshift)) 84% 4.9%;

		--border: calc(214.3 + var(--hueshift)) 31.8% 91.4%;
		--input: calc(214.3 + var(--hueshift)) 31.8% 91.4%;

		--primary: calc(222.2 + var(--hueshift)) 47.4% 11.2%;
		--primary-foreground: calc(210 + var(--hueshift)) 40% 98%;

		--secondary: calc(210 + var(--hueshift)) 40% 96.1%;
		--secondary-foreground: calc(222.2 + var(--hueshift)) 47.4% 11.2%;

		--accent: calc(210 + var(--hueshift)) 40% 96.1%;
		--accent-foreground: calc(222.2 + var(--hueshift)) 47.4% 11.2%;

		--destructive: calc(0 + var(--hueshift)) 72.2% 50.6%;
		--destructive-foreground: calc(210 + var(--hueshift)) 40% 98%;

		--ring: calc(222.2 + var(--hueshift)) 84% 4.9%;

		--radius: 0.5rem;
	}

	.dark {
		--background: calc(222.2 + var(--hueshift)) 84% 4.9%;
		--foreground: calc(210 + var(--hueshift)) 40% 98%;

		--level-one: calc(217.2 + var(--hueshift)), 32.6%, 17.5%;
		--level-two: calc(222.2 + var(--hueshift)), 47.4%, 11.2%;

		--muted: calc(217.2 + var(--hueshift)) 32.6% 17.5%;
		--muted-foreground: calc(215 + var(--hueshift)) 20.2% 65.1%;

		--popover: calc(222.2 + var(--hueshift)) 84% 4.9%;
		--popover-foreground: calc(210 + var(--hueshift)) 40% 98%;

		--card: calc(222.2 + var(--hueshift)) 84% 4.9%;
		--card-foreground: calc(210 + var(--hueshift)) 40% 98%;

		--border: calc(217.2 + var(--hueshift)) 32.6% 17.5%;
		--input: calc(217.2 + var(--hueshift)) 32.6% 17.5%;

		--primary: calc(210 + var(--hueshift)) 40% 98%;
		--primary-foreground: calc(222.2 + var(--hueshift)) 47.4% 11.2%;

		--secondary: calc(217.2 + var(--hueshift)) 32.6% 17.5%;
		--secondary-foreground: calc(210 + var(--hueshift)) 40% 98%;

		--accent: calc(217.2 + var(--hueshift)) 32.6% 17.5%;
		--accent-foreground: calc(210 + var(--hueshift)) 40% 98%;

		--destructive: calc(0 + var(--hueshift)) 62.8% 30.6%;
		--destructive-foreground: calc(210 + var(--hueshift)) 40% 98%;

		--ring: calc(212.7 + var(--hueshift)), 26.8%, 83.9%;
	}
}

@layer base {
	* {
		@apply border-border;
	}
	body {
		@apply bg-level-one text-foreground;
		filter: hue-rotate(var(--hueshift) deg);
	}
}
