@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--background: 280 84% 4.9%;
		--foreground: 280 84% 4.9%;

		--muted: 270 40% 96.1%;
		--muted-foreground: 274 16.3% 46.9%;

		--popover: 280 84% 4.9%;
		--popover-foreground: 280 84% 4.9%;

		--card: 280 84% 4.9%;
		--card-foreground: 280 84% 4.9%;

		--border: 277 31.8% 91.4%;
		--input: 277 31.8% 91.4%;

		--primary: 280 47.4% 11.2%;
		--primary-foreground: 270 40% 98%;

		--secondary: 270 40% 96.1%;
		--secondary-foreground: 280 47.4% 11.2%;

		--accent: 270 40% 96.1%;
		--accent-foreground: 280 47.4% 11.2%;

		--destructive: 280 72.2% 50.6%;
		--destructive-foreground: 270 40% 98%;

		--ring: 280 84% 4.9%;

		--radius: 0.5rem;
	}

	.dark {
		--background: 280 84% 4.9%;
		--foreground: 270 40% 98%;

		--muted: 277 32.6% 17.5%;
		--muted-foreground: 274 20.2% 65.1%;

		--popover: 280 84% 4.9%;
		--popover-foreground: 270 40% 98%;

		--card: 280 84% 4.9%;
		--card-foreground: 270 40% 98%;

		--border: 277 32.6% 17.5%;
		--input: 277 32.6% 17.5%;

		--primary: 270 40% 98%;
		--primary-foreground: 280 47.4% 11.2%;

		--secondary: 277 32.6% 17.5%;
		--secondary-foreground: 270 40% 98%;

		--accent: 277 32.6% 17.5%;
		--accent-foreground: 270 40% 98%;

		--destructive: 280 62.8% 30.6%;
		--destructive-foreground: 270 40% 98%;

		--ring: hsl(277, 26.8%, 83.9%);
	}
}

@layer base {
	* {
		@apply border-border;
	}
	body {
		@apply bg-background text-foreground;
	}
}
